---
type RemoveBtnProps = {
  id: string;
};

const { id } = Astro.props as RemoveBtnProps;
---

<button data-id={id} class="remove-btn">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    class="size-4 stroke-red-500 dark:hover:stroke-red-300 hover:stroke-red-800 pt-1"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M6 18 18 6M6 6l12 12"></path>
  </svg>
</button>
